thead > tr {
    background-color: aliceblue;
}

th {
    text-align: center;
}

.inten0, .inten1, .inten2 {
    display: inline-flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.inten0 {
    color: green;
}

.inten1 {
    color: red;
}

.inten2 {
    color: blue;
}

.numtd {
    display: inline-flex;
    width: 100%;
    justify-content: right;
    align-items: right;
}

.title {
    display: inline-flex;
    width: 10%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.con {
    display: inline-flex;
    width: 20%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
}